<section class="d-flex justify-content-center flex-column align-items-center h">
  <div class="container">
    <div class="text-center">
      <div class="position-relative">
        <h1 class="pt-4 my-3">About Section</h1>
        <span>
          <i class="fa-solid fa-star rotating-star"></i>
        </span>
        <div class="star"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 pt-4">
        <p>
          Freelancer is a free bootstrap theme created by Route. The download
          includes the complete source files including HTML, CSS, and JavaScript
          as well as optional SASS stylesheets for easy customization.
        </p>
      </div>
      <div class="col-md-6 pt-4">
        <p>
          Freelancer is a free bootstrap theme created by Route. The download
          includes the complete source files including HTML, CSS, and JavaScript
          as well as optional SASS stylesheets for easy customization.
        </p>
      </div>
    </div>
  </div>
</section>
