<!-- todo      last soul -->
<!-- <ul class="list-unstyled d-flex flex-column gap-5 w-100 align-items-center">
  @for (input of inputs; track $index) {

  <li class="position-relative w-50">
    <label for="" [ngClass]="inputText !== '' ? 'te show' : 'te hide'"
      >{{ input }}:</label
    >
    <input
      (focus)="setFocused('username')"
      class="w-100"
      type="text"
      (click)="setFocused('username')"
      (input)="checkInput($event)"
      placeholder="{{ input }}"
    />
  </li>
  }
</ul> -->
<!-- <section class="vh-100">
  <ul class="list-unstyled d-flex flex-column gap-5 w-100 align-items-center">
    @for (input of inputs; track $index) {
    <li class="position-relative w-50">
      <label [ngClass]="inputTexst[$index] !== '' ? 'te show' : 'te hide'">
        {{ input }}:
      </label>
      <input
        class="w-100"
        type="text"
        placeholder="{{ input }}"
        (focus)="setFocused($index)"
        (click)="setFocused($index)"
        (input)="checkInput($event, $index)"
      />
    </li>
    }
  </ul>
</section> -->
<section class="vh-100 my-5">
  <div class="container">
    <div class="text-center">
      <div class="position-relative">
        <h1 class="pt-4 my-3">Conatct Section</h1>
        <span>
          <i class="fa-solid fa-star rotating-star"></i>
        </span>
        <div class="star"></div>
      </div>
    </div>
    <ul
      class="list-unstyled d-flex flex-column gap-5 w-100 align-items-center pt-2"
    >
      @for (input of inputs; track $index) {
      <li class="position-relative w-75">
        <label [ngClass]="inputText[$index] !== '' ? 'te show' : 'te hide'">
          {{ input }}:
        </label>
        <input
          class="w-100 p-3"
          type="text"
          [(ngModel)]="inputText[$index]"
          (focus)="setFocused($index)"
          placeholder="{{ input }}"
        />
      </li>
      }
      <li>
        <button class="p-2 rounded-2 border-0 text-white">Send Message</button>
      </li>
    </ul>
  </div>
</section>
