<section class="frame h">
  <div class="container-fluid">
    <div class="position-absolute avatar text-center">
      <div><img src="/avataaars.svg" width="250px" alt="" /></div>
      <div class="text-center">
        <h1 class="pt-4 my-3">Start Framework</h1>
        <div class="position-relative">
          <span>
            <i class="fa-solid fa-star rotating-star"></i>
          </span>
          <div class="star"></div>
        </div>
      </div>
      <p class="my-2">Graphic Artist - Web Designer - Illustrator</p>
    </div>
  </div>
</section>
